header {
	.intro-about {
		display: flex;
    justify-content: flex-start;
    align-items: center;
		height: 55vh;
    width: 100%;
		.intro-about-box {
			text-transform: uppercase;
			color: white;
			margin-top: 120px;
			.intro-title {
				font-size: 50px;
			}
			.intro-description {
				text-transform: none;
			}
		}
	}
}

main {
	section#first {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	section.image-separator {
		.title-box {
			.separator-title {
				font-size: 40px;
				@media only screen and (max-width: 480px) {
					font-size: 33px;
				}
				@media only screen and (max-width : 1200px) {
					font-size: 34px;
    		}
			}
		}
	}
	section#second {
		padding-top: 110px;
		padding-bottom: 50px;
		.column {
			background-color: #F8F8F8;
			padding: 0;
			margin-bottom: 60px;
			.text-box {
				padding-top: 20px;
				padding-bottom: 10px;
				padding-left: 25px;
				padding-right: 25px;
				.col-title {
					text-transform: uppercase;
					margin-top: 25px;
    			margin-bottom: 25px;
					font-size: 21px;
				}
				.col-description {
					font-size: 14px;
				}
			}
		}
	}
}
